.container-xl
  footer.b-footer
    .b-footer__top.row
      .b-footer__col.col-auto
        a.b-footer__logo(href="#")
          img(src="/images/logo.svg", alt)
      .b-footer__col.col-lg-2.col-md-3
        .b-footer__title.
          Quick Links
        ul.b-footer__nav
          li.b-footer__nav-item
            a.b-footer__nav-link.
              About Us
          li.b-footer__nav-item
            a.b-footer__nav-link.
              Blog
          li.b-footer__nav-item
            a.b-footer__nav-link.
              Contact
          li.b-footer__nav-item
            a.b-footer__nav-link.
              FAQ
      .b-footer__col.col-lg-2.col-md-3
        .b-footer__title.
          Legal Stuff
        ul.b-footer__nav
          li.b-footer__nav-item
            a.b-footer__nav-link.
              Disclaimer
          li.b-footer__nav-item
            a.b-footer__nav-link.
              Financing
          li.b-footer__nav-item
            a.b-footer__nav-link.
              Privacy Policy
          li.b-footer__nav-item
            a.b-footer__nav-link.
              Terms of Service
      .col-md-12.d-lg-none.d-md-block.d-none
      .b-footer__col.col-lg-4.mb-0
        .b-footer__title.
          knowing you're always on  the best energy deal. 
        form(action="/submit-phone" method="get").b-footer__phone-form
          input.b-footer__phone-input(type="tel" placeholder="Enter your phone Number" name="phone")
          button.b-footer__phone-submit.btn.btn--primary(type="submit").
            Sign Up Now






