header.b-header
  .b-header__container.container-xl
    a.b-header__logo(href="#")
      img(src="images/logo.svg", alt)
    button.b-header__toggle.toggle
      .toggle__inner
    .b-header__inner
      ul.b-header__menu
        li.b-header__menu-item
          a.b-header__menu-link(href="#").
            Product
        li.b-header__menu-item
          a.b-header__menu-link(href="#").
            Customers
        li.b-header__menu-item
          a.b-header__menu-link(href="#").
            Pricing
        li.b-header__menu-item
          a.b-header__menu-link(href="#").
            Resources

      .b-header__buttons
        button.btn.btn--outline Sign In
        button.btn.btn--primary Sign Up
