header.b-header.affix
  .b-header__container.container-xl
    a.b-header__logo(href="#")
      img(src="images/logo.svg", alt)
    a.b-header__toggle.toggle(href="#")
      .toggle__inner
    .b-header__inner
      ul.b-header__menu
        li.b-header__menu-item
          a.b-header__menu-link(href="#").
            Product
        li.b-header__menu-item
          a.b-header__menu-link(href="#").
            Customers
        li.b-header__menu-item
          a.b-header__menu-link(href="#").
            Pricing
        li.b-header__menu-item
          a.b-header__menu-link(href="#").
            Resources

      .b-header__buttons
        a.b-header__btn.btn.btn--outline.d-block.d-lg-inline-block(href="#") Sign In
        a.b-header__btn.btn.btn--primary.d-block.d-lg-inline-block(href="#") Sign Up
