include ../mixins
block variables
doctype html
html(lang="en")
  head
    include head
  body
    include ../../../images/sprite.svg
    include header
    main
      block content
    include footer
    include scripts
