extends ../partial/layout

block variables
  - var title = "Home"

block after_scripts
  script(src="js/calculator.js")

block content 
  section.b-hero
    .b-hero__container.container-xl
      .b-hero__row.row
        .b-hero__content.col-lg-6
          h2.b-hero__title.
            The Design Thinking superpowers   
          p.b-hero__desc.
            Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
          .b-hero__buttons
            a.btn.btn--primary.d-block.d-sm-inline-block(href="#").
              Get Started
            a.btn.btn--link.btn--has-icon.d-block.d-sm-inline-block(href="#")
              +use("#triangle", 20, 17)
              | Watch the video
        .col
          +webp("images/hero.webp", "images/hero.png", alt="The Desing Thinking superpowers")(class="b-hero__image picture-responsive")

  section.b-section.b-section--tests
    .b-section__bg.b-section__bg--top
    img.b-section__oval.b-section__oval--bottom.lazy(data-src="images/bottom-bg.png")
    .container-xl
      .row
        .col-md-6.mx-auto
          h2.b-section__title.text-center.
            We design tools to unveil your superpowers  
      .row
        .b-test.col-lg-3.col-md-4
          .b-test__icon.b-icon.b-icon--purple
            .b-icon__blur
            .b-icon__inner
              +use("#cursor", 12, 18)
          h5.b-test__title.
            First click tests
          p.b-test__descr.
            While most people enjoy casino gambling
        .b-test.col-lg-3.col-md-4
          .b-test__icon.b-icon.b-icon--yellow
            .b-icon__blur
            .b-icon__inner
              +use("#link", 18, 18)
          h5.b-test__title.
            Design surveys
          p.b-test__descr.
            Sports betting, lottery and bingo playing for the fun
        .b-test.col-lg-3.col-md-4
          .b-test__icon.b-icon.b-icon--red
            .b-icon__blur
            .b-icon__inner
              +use("#heart", 18, 18)
          h5.b-test__title.
            Preference tests
          p.b-test__descr.
            The Myspace page defines the individual. 
        .b-test.col-lg-3.col-md-4
          .b-test__icon.b-icon.b-icon--blue
            .b-icon__blur
            .b-icon__inner
              +use("#sandwatches", 18, 18)
          h5.b-test__title.
            Five second tests
          p.b-test__descr.
            Personal choices and the overall personality of the person. 
      .d-flex
        a.btn.btn--primary.mx-auto(href="#").
          SIGN UP NOW

  section.b-section.pb-0
    .container-xl
      .row.flex-md-row.flex-column-reverse
        .b-section__content.col-md-6
          span.b-section__title-before.
            Effortless Validation for
          h2.b-section__title.
            Design Professionals
          p.
            The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person. 
          h6.
            Accessory makers
          p.
            While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
          h6.
            Alterationists
          p.
            If you are looking for a new way to promote your business that won’t cost you more money
          h6.
            Custom Design designers
          p.
            If you are looking for a new way to promote your business that won’t cost you more money
        .col
          img.b-section__image.lazy(data-src="images/design.svg", alt)

  section.b-section.pb-0
    .container-xl
      .row
        .col-md-6.d-flex
          img.b-section__image.ml-auto.lazy(data-src="images/pm.svg", alt)
        .b-section__content.col.pl-md-5
          span.b-section__title-before.
            Easier decision making for
          h2.b-section__title.
            Product Managers
          p.
            The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person. 
          ul.b-product-list
            li.b-product-list__item.
              Never worry about overpaying for your energy again. 
            li.b-product-list__item.
              We will only switch you to energy companies that we trust and will treat you right
            li.b-product-list__item.
              We track the markets daily and know where the savings are.

  section.b-section
    .container-xl
      .row.flex-md-row.flex-column-reverse
        .b-section__content.col-md-6   
          span.b-section__title-before.
            Optimisation for
          h2.b-section__title.
            Marketers
          p.
            Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. 
          h6.
            Accessory makers
          p.
            While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
          h6.
            Alterationists
          p.
            If you are looking for a new way to promote your business that won’t cost you more money
          h6.
            Custom Design designers
          p.
            If you are looking for a new way to promote your business that won’t cost you more money
        .col.d-flex.ml-auto
          img.b-section__image.lazy(data-src="images/marketers.svg", alt)

  section.b-section.b-section--team.pb-0
    img.b-section__oval.b-section__oval--top.lazy(data-src="images/top-bg.png")
    .b-section__bg.b-section__bg--bottom
    .b-section__container.container-xl
      .row
        .col-md-6.mx-auto.text-center
          h2.b-section__title.text-center.
            Need a super hero?
          p.b-section__description.text-center.
            Do you require some help for your project: Conception workshop,
            prototyping, marketing strategy, landing page, UI/UX?
          a.btn.btn--primary(href="#").
            Contact our expert
      .b-team.b-team--left.b-team--1
        img.b-team__avatar.lazy(data-src="images/team-1.png")
        .b-team__cloud
          .b-team__cloud-inner.
            I can take care of your pitch
      .b-team.b-team--right.b-team--2
        img.b-team__avatar.lazy(data-src="images/team-2.png")
        .b-team__cloud
          .b-team__cloud-inner.
            I can help marketing strategy
      .b-team.b-team--right.b-team--3
        img.b-team__avatar.lazy(data-src="images/team-3.png")
        .b-team__cloud
          .b-team__cloud-inner.
            I can design you website
      .b-team.b-team--right.b-team--4
        img.b-team__avatar.lazy(data-src="images/team-4.png")
        .b-team__cloud
          .b-team__cloud-inner.
            I will define the profile of your users
      .b-team.b-team--right.b-team--5
        img.b-team__avatar.lazy(data-src="images/team-5.png")
        .b-team__cloud
          .b-team__cloud-inner.
            I can prototype your app

  section.b-section.b-section--calculator.pb-0
    .container-xl
      h2.b-section__title.b-section__title--mb-10.
        Choose flexible plan
      p.b-section__desc.
        Plan that fits you needs
      #calculator.row

  section.b-section.b-section--news
    .container-xl
      h2.b-section__title.b-section__title--mb-10.
        Marketing Strategies
      p.b-section__desc.
        Join 40,000+ other marketers and get proven strategies on email marketing
      .news-slider
        - for(let i = 0; i < 4; i++)
            article.news-slider__item
              +webp("images/news-1.webp","images/news-1.png", alt="Increasing Prosperity With Positive Thinking")(class="news-slider__item-thumb")
              .news-slider__item-meta.
                By <b>Abdullah</b> |  03 March 2019
              .news-slider__item-title.
                Increasing Prosperity With Positive Thinking
              a.news-slider__link(href="#")
            article.news-slider__item
              +webp("images/news-2.webp","images/news-2.png", alt="Motivation Is The First Step To Success")(class="news-slider__item-thumb")
              .news-slider__item-meta.
                By <b>Abdullah</b> |  03 March 2019
              .news-slider__item-title.
                Motivation Is The First Step To Success
              a.news-slider__link(href="#")
            article.news-slider__item
              +webp("images/news-3.webp","images/news-3.png", alt="Success Steps For Your Personal Or Business Life")(class="news-slider__item-thumb")
              .news-slider__item-meta.
                By <b>Abdullah</b> |  03 March 2019
              .news-slider__item-title.
                Success Steps For Your Personal Or Business Life
              a.news-slider__link(href="#")