.calculator-panel {
  padding: 20px;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 5px;
  height: 100%;

  &__title {
    margin-bottom: 20px;
  }
  &__title,
  &__currency {
    text-align: center;
  }

  &__currency {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      font-size: 70px;
    }
  }

  &__currency-sign {
    display: inline-block;
    font-size: 16px;
    margin-left: -15px;
    position: absolute;
    top: 8px;
  }

  &__addons {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
    margin-bottom: 20px;
  }

  &__currency-period {
    display: inline-block;
    font-size: 16px;
  }

  &__range-container {
    margin-bottom: 30px;
  }

  &__buttons {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a:first-of-type {
      margin-bottom: 15px;
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 40px;
  }
}

.calculator-addon {
  $parent: &;
  position: relative;
  border: 1px solid $border-color;
  border-radius: 5px;
  flex: 1 0 auto;
  max-width: 50%;
  padding: 15px 10px;
  margin: 7.5px;
  font-weight: 500;
  cursor: pointer;

  &__icon {
    $size: 20px;
    width: $size;
    height: $size;
    position: absolute;
    right: 20px;
    top: calc(50% - #{$size / 2});
    fill: $border-color;
  }

  &--selected {
    background-color: lighten($primary, 48%);
    border-color: $primary;
    #{$parent}__icon {
      fill: $primary;
    }
  }
}
