%list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#svgSprite {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-menu-is-shown {
  overflow: hidden;
  .b-header__inner {
    transform: translate(0);
  }
}

.product-list {
  @extend %list;
  &__item {
    
  }
}
