%list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

:focus,
button:focus {
  outline: none;
}

#svgSprite {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-menu-is-shown {
  overflow: hidden;
  .b-header__inner {
    transform: translate(0);
  }
}

.b-product-list {
  @extend %list;
  flex-direction: column;
  &__item {
    position: relative;
    padding-left: 75px;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 35px;
      height: 35px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url("../images/checkbox.svg");
    }
  }
}
