.b-header {
  $parent: &;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $white;
  transition: padding 0.15s ease-in;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  &__logo img {
    height: 24px;
    width: auto;
  }

  &.affix--active {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__inner {
    transform: translate(100%);
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    margin-left: auto;
    position: fixed;
    z-index: 1;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    transition: transform 0.3s ease-in;

    @include media-breakpoint-up(lg) {
      overflow: visible;
      position: static;
      flex-direction: row;
      align-items: center;
      transform: translate(0);
    }
  }

  &__toggle {
    margin-left: auto;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__buttons {
    margin: 40px auto 0 auto;
    @include media-breakpoint-up(lg) {
      margin: 0 0 0 30px;
    }
  }

  &__btn:first-child {
    margin-bottom: 15px;
    @include media-breakpoint-up(lg) {
      margin-right: 15px;
      margin-bottom: 0;
    }
  }

  &__menu {
    @extend %list;
    flex-direction: column;
    color: #2f281e;
    padding-top: 40px;
    align-items: center;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      padding-top: 0;
    }
  }

  &__menu-link {
    $color: #2f281e;
    display: block;
    padding: 10px 15px;
    color: $color;

    &--active,
    &:hover {
      color: $primary;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 25px 0 0;
      border-bottom: none;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 35px;
    padding-bottom: 35px;
    box-shadow: none;

    #{$parent}__logo img {
      height: auto;
    }
  }
}
