.b-hero {
  padding-top: 30px;

  &__title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      font-size: 44px;
    }
  }

  &__title,
  &__desc {
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  &__content {
    padding-top: 20px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(md) {
      padding-top: 0;
      padding-bottom: 0;
    }
    @include media-breakpoint-up(lg) {
      align-items: flex-start;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: auto;

      @include media-breakpoint-up(sm) {
        width: 50%;
      }

      @include media-breakpoint-up(lg) {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }

  &__buttons {
    margin-bottom: 15px;

    a:first-of-type {
      margin-bottom: 15px;
      @include media-breakpoint-up(sm) {
        margin-bottom: 0;
        margin-right: 15px;
      }
    }
  }

  &__desc {
    margin-bottom: 45px;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}
