.b-hero {
  padding-top: 30px;

  &__title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      font-size: 44px;
    }
  }

  &__content {
    padding-top: 20px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-breakpoint-up(md) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__buttons {
    margin-bottom: 15px;

    a:first-of-type {
      margin-bottom: 15px;
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
        margin-right: 15px;
      }
    }
  }

  &__desc {
    margin-bottom: 45px;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}
