.b-icon {
  $parent: &;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  color: $white;

  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    background-color: #fffbf7;
    content: "";
  }

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 19px;
    filter: blur(27px);
  }

  &__inner {
    border-radius: 19px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--purple {
    @include make-icon($purple, $parent);
  }

  &--yellow {
    @include make-icon($yellow, $parent);
  }

  &--red {
    @include make-icon($red, $parent);
  }

  &--blue {
    @include make-icon($blue, $parent);
  }
}
