@mixin make-icon($color, $parent) {
  &::before {
    background-color: $color;
  }
  #{$parent}__inner {
    background-color: $color;
  }
}

@mixin make-responsive-picture($w: 70%, $w-sm: 50%, $w-md: 50%, $w-lg: 100%,  $w-xl: 100%) {
  width: $w;
  height: auto;

  @include media-breakpoint-up(sm) {
    width: $w-sm;
  }

  @include media-breakpoint-up(md) {
    
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
    margin-bottom: 0;
  }
}

@mixin make-toggle(
  $bg: $toggle-bg,
  $padding: $toggle-padding,
  $color: $toggle-color,
  $width: $toggle-width,
  $height: $toggle-height,
  $inner-height: $toggle-inner-height
) {
  $parent: &;
  $dy: ($height - $padding * 2 - $inner-height) / 2;
  position: relative;
  border: none;
  display: inline-block;
  vertical-align: middle;
  background-color: $bg;
  padding: $padding;
  width: $width;
  height: $height;

  &:focus {
    outline: 0;
  }

  &__inner {
    top: calc(50% - #{$inner-height} / 2);
    left: $padding;
    right: $padding;
    opacity: 1;
    transition: opacity 0.5s linear, transform 0.3s linear;
  }

  &__inner,
  &::before,
  &::after {
    background-color: $color;
    position: absolute;
    height: $inner-height;
    right: $padding;
    left: $padding;
    border-radius: 100px;
  }

  &::before,
  &::after {
    transition: transform 0.2s ease-out;
  }

  &::before {
    content: "";
    top: $padding;
  }

  &::after {
    content: "";
    bottom: $padding;
  }

  &--cross {
    &::before {
      transform: translateY($dy) rotate(-45deg);
    }

    #{$parent}__inner {
      display: none;
    }

    &::after {
      transform: translateY(-$dy) rotate(45deg);
    }
  }
}
