.b-section {
  $parent: &;
  padding-top: 60px;
  padding-bottom: 60px;

  &__image {
    width: 100%;
    height: auto;
  }

  &__title,
  &__desc {
    margin-bottom: 30px;
  }

  &__title-before {
    display: inline-block;
    margin-top: 25px;
  }

  &__oval {
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    height: 60px;

    &--bottom {
      bottom: 0;
    }

    &--top {
      top: 0;
    }

    @include media-breakpoint-up(md) {
      height: 145px;
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    &--bottom {
      top: 60px;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(#fff3e9, 1), rgba(#fff3e9, 0));
      @include media-breakpoint-up(md) {
        top: 145px;
      }
    }

    &--top {
      top: 0;
      bottom: 60px;
      background: linear-gradient(to top, rgba(#fff7f1, 1), rgba(#fff7f1, 0));
      @include media-breakpoint-up(md) {
        bottom: 145px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &--tests {
    position: relative;

    #{$parent}__title {
      margin-bottom: 50px;
    }
  }

  &--team {
    position: relative;

    #{$parent}__container {
      position: relative;
    }

    @include media-breakpoint-up(md) {
      padding-top: 200px;
      min-height: 850px;
    }
  }

  &--news {
    #{$parent}__title {
      margin-bottom: 10px;
    }

    #{$parent}__desc {
      margin-bottom: 55px;
    }
  }
}
