.b-section {
  $parent: &;
  padding-top: 60px;
  padding-bottom: 60px;

  &__image {
    width: 100%;
    height: auto;
  }

  &__title,
  &__desc {
    margin-bottom: 30px;
  }

  &__title-before {
    display: inline-block;
    margin-top: 25px;
  }

  @include media-breakpoint-up(md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &--tests {
    #{$parent}__title {
      margin-bottom: 50px;
    }
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("../images/bg.png");
  }

  &--team {
    background-size: 120%;
    background-position: top;
    background-image: url("../images/bg-oval.png");
    @include media-breakpoint-up(md) {
      padding-top: 200px;
    }
  }
}
