.news-slider {
  $parent: &;
  padding-bottom: 60px;

  &__item {
    position: relative;
    &:hover {
      #{$parent}__item-title {
        color: $primary;
      }
    }
  }

  &__item-thumb {
    img,
    source {
      width: 100%;
      height: auto;
    }
    display: inline-block;
    margin-bottom: 25px;
  }

  &__item-meta {
    margin-bottom: 12px;
  }

  &__item-title {
    font-weight: 700;
    font-size: 24px;
  }

  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .slick-slide {
    margin: 0 15px;
  }

  .slick-list {
    margin: 0 -15px;
  }

  .slick-dots {
    @extend %list;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    li:last-of-type button {
      margin-right: 0;
    }
    
    button {
      $size: 16px;
      display: inline-block;
      background-color: #efefef;
      border: 0;
      padding: 0;
      font-size: 0;
      width: $size;
      height: $size;
      border-radius: 50%;
      margin-right: 10px;
    }

    .slick-active button{
      background-color: #ff9900;
    }
  }
}
