.svg-arrow-left-dims {
	width: 6px;
	height: 6px;
}

.svg-arrow-right-dims {
	width: 6px;
	height: 6px;
}

.svg-checkbox-dims {
	width: 24px;
	height: 24px;
}

.svg-cursor-dims {
	width: 11px;
	height: 17px;
}

.svg-heart-dims {
	width: 16px;
	height: 15px;
}

.svg-link-dims {
	width: 18px;
	height: 14px;
}

.svg-question-dims {
	width: 24px;
	height: 24px;
}

.svg-sandwatches-dims {
	width: 14px;
	height: 17px;
}

.svg-triangle-dims {
	width: 17px;
	height: 19px;
}

