.toggle {
  @include make-toggle();
}

.mobile-menu-is-shown {
  .toggle__inner {
    opacity: 0;
    transform: translateX(-100%);
  }

  $dy: ($toggle-height - $toggle-padding * 2 - $toggle-inner-height) / 2;

  .toggle::before {
    transform: translateY($dy) rotate(-45deg);
  }

  .toggle::after {
    transform: translateY(-$dy) rotate(45deg);
  }
}
